/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #f8f9fa;
    position: relative; /* Ensure the menu toggle button is positioned correctly */
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  
  .navbar-links a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    display: inline-block;
  }
  
  
/* Hover effect for navbar links */
.navbar-links a:hover {
    color: #007bff; /* Change color on hover */
    text-decoration: none; 
}
  .menu-toggle {
    display: none; /* Hidden by default */
    font-size: 2rem;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
  }
  
  /* Dropdown styling */
  .navbar .dropdown {
    position: relative;
    display: inline-block;
    background-color: #f1f1f1;
  }
  
  .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .navbar .dropdown:hover .dropdown-content {
    display: block;
    color: #007bff; /* Change color on hover */
    text-decoration: none; 
  }
  
  .navbar .dropdown-item {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navbar .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  
/* Responsive design */
@media (max-width: 768px) {
    .navbar-links {
      display: none; /* Hide menu by default */
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #f8f9fa;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
  
    .navbar-links.open {
      display: flex; 
      flex-direction: column;
      margin-top:20px ;
      /* Show menu when open */
    }
  
    .menu-toggle {
      display: block; /* Show the menu button on small screens */
    }
  
    .navbar-links a {
      margin: 10px 0;
      padding-bottom: 10px;
    }
  
    .search-form {
      flex-direction: column;
    }
  }
  