/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  
  
  
  
  h1 {
    margin-top: 20px;
  }
  .pagination button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #6c757d; /* Changed button to gray */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: #28a745;
  }
  
  .pagination button:disabled {
    background-color: #ccc;
  }
  
  .pagination button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .navbar, .navbar-links {
      flex-direction: row; /* Keep navbar links inline */
      justify-content: space-evenly;
    }
    
    .navbar-links a {
      margin: 0 5px;
    }
  
    .pagination {
      flex-wrap: wrap;
    }
  }